body {
    background-color: #DDD4CD;
    font-family: 'Playfair Display', serif;
    font-size: 1.1em;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: left;
}

li a {
  display: block;
  color:white;;
  text-align: center;
  padding: 20px 26px;
  text-decoration: none;
}

li a:hover {
  background-color: #AFCC57;
}

#top-line{
     color:#AD9481;
     font-style: oblique;
     margin-left: auto;
     padding-left: 100px ;
 }

 #text-body{
     color: white;
     display: block;
     padding-left: 100px;
     width: 30%;
 }

 #text-intro{
     color: white;
     display: block;
     font-style: italic;
     padding-left: 100px;
     width: 80%;
     text-align: left;
 }      

h1 {
	   text-align: center;
     color: #DDD4CD;
     background-color:white;
     font-size: 3.5em;
}

h2{
	text-align: center;
  color: white;
  font-size: 1.8em;
  font-style: italic;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

