body {
    background-color: #8A5391;
    font-family: 'Catamaran', sans-serif;
    font-size: 1.1em;
}
h1 {
	text-align: center;
    color: #B6A9CB;
}
#intro {
	text-align: center;
	color: #B6A9CB;
    font-size: 1.3em;
}

.center {
	 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

